<div class="ui segments app-output-item">
  <div class="ui green inverted segment header"
    @click="showItem = !showItem">
      
    <div class="date">
      <i class="icon chevron circle"
         :class="{'down': !showItem, 'up': showItem}"></i>
      {{ date }}
    </div>
    <div class="text">
      {{ item.text }}
    </div>
    
  </div>
  <div class="ui segment"
       v-show="showItem">
    <form class="ui grid form">
      <div class="six wide column">
        <div class="field"
          :class="{'disabled': isWaiting}">
          <textarea v-model="item.text" ref="originalText"></textarea>
        </div>
          
      </div>
      <div class="seven wide column">
        <div class="field"
          :class="{'disabled': isWaiting}">
          <textarea v-model="item.transResult" ref="transText"></textarea>
        </div>
      </div>
      <div class="three wide column controller">
        <div class="ui icon fluid input field"
          :class="{'disabled': isWaiting}">
          <select v-model="item.transToLang">
            <option v-for="lang in langs"
                    :value="lang.value">
              {{ lang.text }}
            </option>
          </select>
          <i class="submit globe icon"
            :class="{'disabled': !transable}"
            @click="trans"></i>
        </div>
          
      </div>
    </form>
  </div>
</div>
