.app-output {
  margin-top: 1rem;

  @media screen and (max-width: 768px) {
    margin-top: 3rem;
  }

  .app-output-item {
    .header {
      //line-height: 3rem;
      height: 2rem;
      font-size: 1rem;
    
      padding-top: 0.3rem !important;
      padding-bottom: 0 !important;
    
      cursor: pointer;
      user-select: none;
    
      .date {
        display: inline-block;
      }
      .text {
        display: inline-block;
        max-width: calc(100% - 10rem);
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    
        margin-left: 1rem;
        font-weight: normal;
    
        line-height: 1rem;
        margin-top: 0.2rem;
      }
        
    }
    
    textarea {
      max-height: max-content !important;
      height: auto;
      min-height: 3rem !important;
    }
    
      select {
        width: calc(100% - 3rem) !important;
      }
    
      .submit {
        cursor: pointer !important;
        pointer-events: all !important;
      }

    .icon.chevron.circle.down {
      display: none;
    }

    &.collapsed {
      .icon.chevron.circle.up,
      .content {
        display: none;
      }

      .icon.chevron.circle.down {
        display: inline-block;
      }
    }

    .collapse-empty-lines {
      display: none;
    }

    &.expended-empty-lines {
      .collapse-empty-lines {
        display: block;
      }

      .expand-empty-lines {
        display: none;
      }
    }
  } // .app-output-item {
}

