<div class="app-input">
  <div class="ui top attached center aligned blue inverted segment header"
       @click="db.localConfig.showInputPanel = !db.localConfig.showInputPanel">
    <h1>
      <i class="icon chevron circle"
         :class="{'down': !db.localConfig.showInputPanel, 'up': db.localConfig.showInputPanel}"></i>
      Wrapped Text Formatter
    </h1>
  </div>
  <div class="ui secondary bottom attached segment form"
       :class="{'hidden': !db.localConfig.showInputPanel}">
    <div class="ui grid">
      <div class="eight wide column">
        <div class="field">
          <textarea class="input" id="input"
            @keypress.ctrl.enter="formatText"
            @keypress.meta.enter="formatAuthor"
            v-model="db.localConfig.input"></textarea>
        </div>
      </div>
      <div class="eight wide column">
        
        <app-config :db="db"></app-config>

      </div>
    </div>

    <div class="ui fluid baisc buttons">
      <button class="ui button"
        @click="formatText">
        整理翻譯 (Ctrl + Enter)
      </button>
      <button class="ui button"
        @click="formatAuthor">
        整理作者 (Meta + Enter)
      </button>
    </div>
  </div>
</div>